<%= stylesheet_link_tag "sessions_login" %>
<div class="container">
  <%= image_tag "313051-106.jpg" %>
  <div class="content">
    <h3>System login</h3>
    <%= form_for :session, url: :sessions_login do |f| %>
    <p>
      <%= f.label :Name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :Word %>
      <%= f.password_field :password%>
    </p>
    <div class="a">
      <%= link_to 'Register', applicants_new_path %>
    </div>
    <%= f.button "Login" %>
    <% end %>
  </div>

</div>

