<%= image_tag "17331.jpg" %>
<div class="text">
  <h3>Administrator operation platform</h3>
  <p>Here you can find all the teachers and students information, and its management</p>
</div>
<%= stylesheet_link_tag "admins_show" %>
<div class="right">
  当前登录用户:<%= @user.name %>
  <%= link_to '新建用户', :applicants_new  %>
  <%= link_to '退出当前登录', root_path  %>
</div>
<div class="hexagon icon"></div>
<div class="hexagon icon"></div>
<div class="hexagon icon"></div>

<%= link_to '教师管理', admins_show_teachers_path %>
<%= link_to '学生管理', admins_show_students_path %>
<%= link_to '班级管理', admins_show_classes_path %>
<!-- <%= form_tag admins_path, method: :get do %>
  <%= search_field_tag("q[name_cont]", params["q"] &&               params["q"]["name_cont"],placeholder: "输入用户名称")%>
<% end %> -->
