<h1>修改普通用户信息</h1>
<%= form_for @user,url:general_teacher_path do |f| %>
	<p>
		<%= f.label :教师姓名 %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.fields_for :rooms do |r| %>
		<%= r.label :所属班级 %>
		<%= r.text_field (:name) %>
	<% end %>
	</p>
	
	<p><%= f.button "提交" %></p>
<% end %>